body, html {
  height: 100%;
  margin: 0px;
}

.bg {
  /* The image used */
  background-image: url("pix/PXL_20221022_195321170.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
